# ========================
# Data files
# ========================
*.parquet
*.csv
*.jsonl

# ========================
# Secrets & credentials
# ========================
.env
.env.*
*.env_encoded
service-account.json
*service_account*.json
*creds*.json
*credentials*.json
keys/
*.pem
*.key
*.msgpack


# ========================
# Terraform
# ========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# dbt
# ========================
target/
dbt_packages/
logs/

# ========================
# Python
# ========================
__pycache__/
*.pyc
.venv/
venv/

# ========================
# OS / IDE
# ========================
.DS_Store
.vscode/
.idea/

# ========================
# Log files and build artifacts
# ========================
logs/
target/
*.duckdb
